.header {
  position: fixed;
  width: 20%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 2rem;
  z-index: 1;
}
.active {
  border-bottom: 1px solid blueviolet;
}

.navItem {
  padding: 8px;
  margin: 0 4px;
  text-align: left;
}
