.wrapper {
  display: flex;
  gap: 8px;
  max-width: 40%;
  justify-content: space-between;
}

.btn {
  background-color: transparent;
  padding: 8px;
}

.icon {
  margin-right: 8px;
}

.listwrapper li {
  list-style: none;
}
